@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

:root
{
    --font-family: 'Inter', sans-serif;
    --background-color: #ffffff;
    --border-color: #f3f3f3;
}

.ds
{
    --font-family: 'Inter', sans-serif;

    .button
    {
        --primary-background-color: #e06666;
        --primary-foreground-color: #ffffff;
        --secondary-background-color: #cccccc;
    }

    .ruler
    {
        --color: var(--border-color);
    }
}