.centered-layout
{
    container-type: inline-size;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;

    .container
    {
        box-sizing: border-box;
        padding: 1rem;
        width: 100vw;
        max-width: 696px;
        text-align: center;
    }

    @container (max-width: 499px)
    {
        .container
        {
            padding: 0.5rem;
        }
    }
}