.ds
{
    .ruler
    {
        --border-width-small: 0.1rem;
        --border-width-medium: 0.2rem;
        --border-width-large: 0.3rem;

        --color: var(--color-border);

        background-color: var(--color);

        &.direction-horizontal
        {
            width: 100%;

            &.size-small
            {
                height: var(--border-width-small);
            }

            &.size-medium
            {
                height: var(--border-width-medium);
            }

            &.size-large
            {
                height: var(--border-width-large);
            }
        }

        &.direction-vertical
        {
            height: 100%;

            &.size-small
            {
                width: var(--border-width-small);
            }

            &.size-medium
            {
                width: var(--border-width-medium);
            }

            &.size-large
            {
                width: var(--border-width-large);
            }
        }
    }
}