min-release-age=2
min-release-age-exclude=jitar,@jitar/plugin-vite,@jitar-plugins/authentication,@jitar-plugins/database,@jitar-plugins/events,@jitar-plugins/files,@jitar-plugins/http,@jitar-plugins/notification,@maskingtech/designsystem,@maskingtech/react-toolkit,@theshelf/authentication,@theshelf/authentication-driver-openid,@theshelf/connection,@theshelf/database,@theshelf/database-driver-mongodb,@theshelf/events,@theshelf/files,@theshelf/files-driver-s3,@theshelf/http,@theshelf/logging,@theshelf/logging-driver-database,@theshelf/notification,@theshelf/validation,@theshelf/validation-driver-zod