volumes:
    mongo-data:
    seaweed-data:
    keycloak-data:

services:

  mongo:
    image: mongo:8.0.12
    restart: always
    volumes:
      - mongo-data:/data/db
      - "${MONGODB_INIT_PATH}:/docker-entrypoint-initdb.d"
    ports:
      - "${MONGODB_PORT_NUMBER:-27017}:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGODB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGODB_ROOT_PASSWORD}

  mongo-express:
    image: mongo-express:1.0.2-18
    restart: always
    ports:
      - "${MONGO_EXPRESS_PORT_NUMBER:-8081}:8081"
    environment:
      ME_CONFIG_BASICAUTH_USERNAME: ${MONGO_EXPRESS_USERNAME}
      ME_CONFIG_BASICAUTH_PASSWORD: ${MONGO_EXPRESS_PASSWORD}
      ME_CONFIG_MONGODB_ADMINUSERNAME: ${MONGODB_ROOT_USERNAME}
      ME_CONFIG_MONGODB_ADMINPASSWORD: ${MONGODB_ROOT_PASSWORD}
      ME_CONFIG_MONGODB_URL: "mongodb://${MONGODB_ROOT_USERNAME}:${MONGODB_ROOT_PASSWORD}@mongo:27017/"
    depends_on:
      - mongo

  seaweedfs-master:
    image: chrislusf/seaweedfs:4.07
    ports:
      - "9333:9333"
      - "19333:19333"
    command: "master -ip=seaweedfs-master -ip.bind=0.0.0.0 -port=9333 -port.grpc=19333 -mdir=/data"

  seaweedfs-volume:
    image: chrislusf/seaweedfs:4.07
    ports:
      - "9222:8080"
      - "18080:18080"
    volumes:
      - seaweed-data:/data
    command: "volume -ip=seaweedfs-volume -ip.bind=0.0.0.0 -mserver=seaweedfs-master:9333 -port=8080 -dir=/data"
    depends_on:
      - seaweedfs-master
  
  seaweedfs-filer:
    image: chrislusf/seaweedfs:4.07
    ports:
      - "9111:8888"
      - "18888:18888"
    command: "filer -ip=seaweedfs-filer -ip.bind=0.0.0.0 -master=seaweedfs-master:9333 -port=8888"
    depends_on:
      - seaweedfs-master
      - seaweedfs-volume

  seaweedfs-s3:
    image: chrislusf/seaweedfs:4.07
    ports:
      - "${SEAWEEDFS_PORT_NUMBER:-9000}:8333"
    environment:
      SEAWEEDFS_S3_ROOT_USER: ${SEAWEEDFS_ROOT_USER}
      SEAWEEDFS_S3_ROOT_PASSWORD: ${SEAWEEDFS_ROOT_PASSWORD}
    command: "s3 -filer=seaweedfs-filer:8888 -port=8333"
    depends_on:
      - seaweedfs-filer

  keycloak:
    image: quay.io/keycloak/keycloak:26.2
    restart: always
    volumes:
      - "${KEYCLOAK_IMPORT_PATH}:/opt/keycloak/data/import"
      - "${KEYCLOAK_THEME_PATH}:/opt/keycloak/providers"
      - keycloak-data:/opt/keycloak/data
    ports:
      - "${KEYCLOAK_PORT_NUMBER:-8080}:8080"
    environment:
      KC_HTTP_ENABLED: ${KEYCLOAK_HTTP_ENABLED}
      KC_HOSTNAME_STRICT: ${KEYCLOAK_HOSTNAME_STRICT}
      KC_BOOTSTRAP_ADMIN_USERNAME: ${KEYCLOAK_BOOTSTRAP_ADMIN_USERNAME}
      KC_BOOTSTRAP_ADMIN_PASSWORD: ${KEYCLOAK_BOOTSTRAP_ADMIN_PASSWORD}
      KEYCLOAK_GITHUB_CLIENT_ID: ${KEYCLOAK_GITHUB_CLIENT_ID}
      KEYCLOAK_GITHUB_CLIENT_SECRET: ${KEYCLOAK_GITHUB_CLIENT_SECRET}
      KEYCLOAK_GOOGLE_CLIENT_ID: ${KEYCLOAK_GOOGLE_CLIENT_ID}
      KEYCLOAK_GOOGLE_CLIENT_SECRET: ${KEYCLOAK_GOOGLE_CLIENT_SECRET}
      KEYCLOAK_LINKEDIN_CLIENT_ID: ${KEYCLOAK_LINKEDIN_CLIENT_ID}
      KEYCLOAK_LINKEDIN_CLIENT_SECRET: ${KEYCLOAK_LINKEDIN_CLIENT_SECRET}
    command: start-dev --import-realm