.ds-link
{
    --margin: 0.2em 0;

    --font-size-large: 1.5em;
    --font-size-medium: 1em;
    --font-size-small: 0.75em;
}

.ds-link
{
    margin: var(--margin);
}

.ds-link.ds-link-size-large
{
    font-size: var(--font-size-large);
}

.ds-link.ds-link-size-medium
{
    font-size: var(--font-size-medium);
}

.ds-link.ds-link-size-small
{
    font-size: var(--font-size-small);
}