.application-sidebar
{
    display: flex;
    flex-direction: row;
    gap: 2em;
    height: 100%;
    width: 100%;

    & > .content
    {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 1;
        gap: 2rem;

        .logo
        {
            flex-grow: 0;
            flex-shrink: 0;
        }

        nav
        {
            flex-grow: 1;
            flex-shrink: 1;
            overflow-y: auto;
        }

        .identity
        {
            flex-grow: 0;
            flex-shrink: 0;
        }
    }

    & > .ruler
    {
        flex-grow: 0;
        flex-shrink: 0;
    }
}