.application-sidebar
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;

    .logo
    {
        flex-grow: 0;
        flex-shrink: 0;
    }

    nav
    {
        flex-grow: 1;
        flex-shrink: 1;
        overflow-y: auto;
    }

    .identity
    {
        flex-grow: 0;
        flex-shrink: 0;
    }
}