.ds-text
{
    --primary-color: var(--color-primary-foreground);
    --secondary-color: var(--color-secondary-foreground);



    display: inline-block;
}

.ds-text.ds-text-primary
{
    color: var(--primary-color);
}

.ds-text.ds-text-secondary
{
    color: var(--secondary-color);
}

.ds-text.ds-text-size-small
{
    font-size: 0.9em;
}

.ds-text.ds-text-size-medium
{
    font-size: 1em;
}

.ds-text.ds-text-size-large
{
    font-size: 1.2em;
}

.ds-text.ds-text-weight-light
{
    font-weight: var(--font-weight-light);
}

.ds-text.ds-text-weight-normal
{
    font-weight: var(--font-weight-normal);
}

.ds-text.ds-text-weight-bold
{
    font-weight: var(--font-weight-bold);
}

.ds-text.ds-text-wrap-none
{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.ds-text.ds-text-wrap-normal
{
    white-space: normal;
}

.ds-text.ds-text-wrap-break-word
{
    word-wrap: break-word;
}