.ds-panel
{
    --border-radius: 0em;
    --padding: 2em 2em;

    --normal-background-color: var(--color-secondary);

    --alert-background-color: var(--color-alert);

    --background-color: transparent;
    --border-color: var(--color-border);
    --border-width: 1px;
    --border-style: solid;
}

.ds-panel
{
    border-radius: var(--border-radius);
    padding: var(--padding);
}

.ds-panel.ds-panel-normal
{
    background-color: var(--normal-background-color);
}

.ds-panel.ds-panel-alert
{
    background-color: var(--alert-background-color);
}

.ds-panel.ds-panel-border
{
    background-color: transparent;

    border-color: var(--border-color);
    border-radius: var(--border-radius);
    border-style: var(--border-style);
    border-width: var(--border-width);
}