.ds-panel
{
    --border-radius: 0em;
    --padding: 2em 2em;

    --alert-background-color: var(--color-alert);
    --error-background-color: var(--color-error);
    --normal-background-color: var(--color-secondary);
    --success-background-color: var(--color-success);
    --warning-background-color: var(--color-warning);
}

.ds-panel
{
    border-radius: var(--border-radius);
    padding: var(--padding);
}

.ds-panel.ds-panel-alert
{
    background-color: var(--alert-background-color);
}

.ds-panel.ds-panel-error
{
    background-color: var(--error-background-color);
}

.ds-panel.ds-panel-normal
{
    background-color: var(--normal-background-color);
}

.ds-panel.ds-panel-success
{
    background-color: var(--success-background-color);
}

.ds-panel.ds-panel-warning
{
    background-color: var(--warning-background-color);
}