:root
{
    --comify-font-family: 'Sans-Serif';
    --comify-font-size: 16px;

    --comify-font-color-primary: #000000;
    --comify-font-color-secondary: #b7b7b7;

    --comify-font-weight-light: 300;
    --comify-font-weight-normal: 400;
    --comify-font-weight-medium: 600;
    --comify-font-weight-bold: 800;

    --comify-color-primary: rgb(215, 110, 0);
    --comify-color-secondary: #d9d9d9ff;
    --comify-color-tertiary: #fff;

    --comify-color-border: #cccccc;

    /*** Button ***/
    --comify-button-text-size: 12px;
    --comify-button-border-radius: 15px;

    --comify-color-button-primary: #ccccccff;
    --comify-color-button-secondary: #f3f3f3ff;
    --comify-color-button-disabled: #fff;

    --comify-color-button-primary-hover: #b7b7b7ff;
    --comify-color-button-secondary-hover: #efefefff;

    --comify-color-button-primary-focus: #999999ff;
    --comify-color-button-secondary-focus: #d9d9d9ff;

    --comify-color-button-border: #cccccc;
}

.ds
{
    --font-family: var(--comify-font-family);
    --font-size: var(--comify-font-size);
}