.ds-message
{
    --margin: 0 0 1.2em 0;
    --line-height: 1.5em;

    --font-size-large: 1.5em;
    --font-size-medium: 1em;
    --font-size-small: 0.75em;
}

.ds-message
{
    margin: var(--margin);
    line-height: var(--line-height);
}

.ds-message.ds-message-size-large
{
    font-size: var(--font-size-large);
}

.ds-message.ds-message-size-medium
{
    font-size: var(--font-size-medium);
}

.ds-message.ds-message-size-small
{
    font-size: var(--font-size-small);
}