.ds
{
    .clickarea
    {
        --margin: 0;

        --padding-large: 2em;
        --padding-medium: 1.5em;
        --padding-small: 1em;
        --padding-none: 0;

        margin: var(--margin);
        padding: var(--padding);
        cursor: pointer;

        &.padding-none
        {
            padding: var(--padding-none);
        }

        &.padding-small
        {
            padding: var(--padding-small);
        }

        &.padding-medium
        {
            padding: var(--padding-medium);
        }

        &.padding-large
        {
            padding: var(--padding-large);
        }
    }
}