.ds
{
    --font-family: sans-serif;
    --font-size: 16px;

    --font-weight-extra-light: 200;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;

    --color-background: transparent;
    --color-background-hover: #efefef;
    --color-foreground: #000000;
    --color-border: #b7b7b7;

    --color-primary-background: #ffffff;
    --color-primary-foreground: #000000;

    --color-secondary-background: #f3f3f3;
    --color-secondary-foreground: #666666;

    --color-primary-action-background: #cccccc;
    --color-primary-action-foreground: #000000;

    --color-secondary-action-background: #f3f3f3;
    --color-secondary-action-foreground: #000000;

    --color-input-background: #ffffff;
    --color-input-foreground: #000000;

    --color-alert-background: #d9d9d9;
    --color-alert-foreground: #666666;

    --color-error-background: #666666;
    --color-error-foreground: #f3f3f3;

    --color-warning-background: #999999;
    --color-warning-foreground: #f3f3f3;

    --color-success-background: #efefef;
    --color-success-foreground: #666666;

    --margin-container: 0 0 1.2em 0;

    --width-border: 0.05em;
}

.ds
{
    font-family: var(--font-family);
    font-size: var(--font-size);

    background-color: var(--color-background);
    color: var(--color-foreground);
    font-weight: var(--font-weight-light);
}

.ds *:is(:last-child)
{
    margin-bottom: 0;
}