.ds-tabs
{
    --margin: var(--margin-container);

    --foreground-color: var(--color-foreground);

    --font-size-nav: 1.1em;

    --background-color-nav-item: transparent;
    --background-color-nav-item-active: var(--background-color-nav-item);
    --background-color-nav-item-hover: var(--color-background-hover);
    --padding-nav-item: 0.5em 1em;

    --margin-separator: 0.2em 0 1em 0;
}

.ds-tabs
{
    display: flex;
    flex-direction: column;
    margin: var(--margin);
}

.ds-tabs-nav
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--foreground-color);
    font-size: var(--font-size-nav);
}

.ds-tabs-nav-item
{
    background: var(--background-color-nav-item);
    cursor: pointer;
    padding: var(--padding-nav-item);
    width: 100%;
    text-align: center;
}

.ds-tabs-nav-item:hover,
.ds-tabs-nav-item.active:hover
{
    background: var(--background-color-nav-item-hover);
}

.ds-tabs-nav-item.active
{
    background: var(--background-color-nav-item-active);
    font-weight: var(--font-weight-bold);
}

.ds-tabs-separator
{
    margin: var(--margin-separator);
}