.ds-selection
{
    --background-color-selection: var(--color-secondary-background);
}

.ds-selection
{
    display: inline-block;
    min-width: fit-content;
    text-align: center;
    position: relative;
}


.ds-selection-text
{
    background-color: var(--background-color-selection);
    padding: 0.8em 2em 0.8em 0.8em;
    border-bottom: 1px solid var(--color-border);
}

.ds-selection-text::after
{
    content: "";
    position: absolute;
    right: 10px;
    top: 16px;
    border: 7px solid transparent;
    border-color: #e70909 transparent transparent transparent;
}

.ds-selection-text.active::after
{
    top: 8px;
    border-color: transparent transparent #fff transparent;
}

ul
{
    margin: 0;
    padding: 0;
    text-align: center;
}

.ds-selection-options
{
    position: absolute;
    width: 100%;
}

.ds-selection-option
{
    list-style-type: none;
    padding: 6px 20px;
    background: #47eded;
    border-bottom: 1px solid #37b0b0;
    cursor: pointer;
}

.ds-selection-option:hover
{
    background-color: #32a6a6;
    color: #ffffff;
}