.ds-row
{
    --gap-small: 0.5em;
    --gap-medium: 1em;
    --gap-large: 2em;
}

.ds-row
{
    display: flex;
    flex-direction: row;
    min-width: 0;
}

.ds-row > div,
.ds-row > h1,
.ds-row > h2,
.ds-row > h3,
.ds-row > p,
.ds-row > form,
.ds-row > label,
.ds-row > input,
.ds-row > textarea,
.ds-row > select
{
    margin: 0;
}

.ds-row.ds-row-align-x-left
{
    justify-content: flex-start;
}

.ds-row.ds-row-align-x-center
{
    justify-content: center;
}

.ds-row.ds-row-align-x-right
{
    justify-content: flex-end;
}

.ds-row.ds-row-align-x-justify
{
    justify-content: space-between;
}

.ds-row.ds-row-align-y-top
{
    align-items: flex-start;
}

.ds-row.ds-row-align-y-center
{
    align-items: center;
}

.ds-row.ds-row-align-y-bottom
{
    align-items: flex-end;
}

.ds-row.ds-row-align-y-stretch
{
    align-items: stretch;
}

.ds-row.ds-row-gap-small
{
    gap: var(--gap-small);
}

.ds-row.ds-row-gap-medium
{
    gap: var(--gap-medium);
}

.ds-row.ds-row-gap-large
{
    gap: var(--gap-large);
}

.ds-row.ds-row-wrap-nowrap
{
    flex-wrap: nowrap;
}

.ds-row.ds-row-wrap-wrap
{
    flex-wrap: wrap;
}