.ds
{
    .row
    {
        --gap-small: 0.5em;
        --gap-medium: 1em;
        --gap-large: 2em;

        display: flex;
        flex-direction: row;
        min-width: 0;

        & > div,
        & > h1,
        & > h2,
        & > h3,
        & > p,
        & > form,
        & > label,
        & > input,
        & > textarea,
        & > select
        {
            margin: 0;
        }

        &.align-x-left
        {
            justify-content: flex-start;
        }

        &.align-x-center
        {
            justify-content: center;
        }

        &.align-x-right
        {
            justify-content: flex-end;
        }

        &.align-x-justify
        {
            justify-content: space-between;
        }

        &.align-y-top
        {
            align-items: flex-start;
        }

        &.align-y-center
        {
            align-items: center;
        }

        &.align-y-bottom
        {
            align-items: flex-end;
        }

        &.align-y-stretch
        {
            align-items: stretch;
        }

        &.gap-small
        {
            gap: var(--gap-small);
        }

        &.gap-medium
        {
            gap: var(--gap-medium);
        }

        &.gap-large
        {
            gap: var(--gap-large);
        }

        &.wrap-nowrap
        {
            flex-wrap: nowrap;
        }

        &.wrap-wrap
        {
            flex-wrap: wrap;
        }
    }
}