.ds-ruler
{
    --border-width: 0.3em;
    --background-color: var(--color-border);
}

.ds-ruler
{
    margin: 0;
    background-color: var(--background-color);
}

.ds-ruler.ds-ruler-horizontal
{
    width: 100%;
    height: var(--border-width);
}

.ds-ruler.ds-ruler-vertical
{
    height: 100%;
    width: var(--border-width);
}