.ds-ruler
{
    --border-style: solid;
    --border-width: 0.3em;
    --border-color: var(--color-border);
}

.ds-ruler
{
    border-style: var(--border-style);
    border-color: var(--border-color);
}

.ds-ruler.ds-ruler-horizontal
{
    border-width: 0 0 var(--border-width) 0;
    height: 100%;
}

.ds-ruler.ds-ruler-vertical
{
    border-width: 0 var(--border-width) 0 0;
    width: 100%;
}