.ds
{
    .text
    {
        --primary-color: var(--color-primary-foreground);
        --secondary-color: var(--color-secondary-foreground);

        display: inline-block;

        &.type-primary
        {
            color: var(--primary-color);
        }

        &.type-secondary
        {
            color: var(--secondary-color);
        }

        &.size-small
        {
            font-size: 0.9em;
        }

        &.size-medium
        {
            font-size: 1em;
        }

        &.size-large
        {
            font-size: 1.2em;
        }

        &.weight-light
        {
            font-weight: var(--font-weight-light);
        }

        &.weight-normal
        {
            font-weight: var(--font-weight-normal);
        }

        &.weight-bold
        {
            font-weight: var(--font-weight-bold);
        }

        &.wrap-none
        {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        &.wrap-normal
        {
            white-space: normal;
        }

        &.wrap-break-word
        {
            word-wrap: break-word;
        }
    }
}