.ds-textbox
{
    --margin: 0;
    --padding: 0.8em;

    --border-style: solid;
    --border-width: 1px;
    --border-color: var(--color-border);
}

.ds-textbox
{
    margin: var(--margin);
    padding: var(--padding);

    border-style: var(--border-style);
    border-width: var(--border-width);
    border-color: var(--border-color);

    background-color: var(--color-input-background);
    font-family: inherit;
    font-size: inherit;
}

.ds-textbox:focus-visible
{
    outline-color: color-mix(in srgb, black 10%, var(--border-color));
}