.centered-layout
{
    --content-max-width: 696px;

    container-type: inline-size;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;

    & > .content
    {
        box-sizing: border-box;
        padding: 1rem;
        width: 100vw;
        max-width: var(--content-max-width);
        text-align: center;
    }

    @container (max-width: 499px)
    {
        & > .content
        {
            padding: 0.5rem;
        }
    }
}