.ds
{
    --font-family: inherit;
    --font-size: inherit;

    --font-weight-extra-light: 200;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;

    --color-background: #ffffff;
    --color-primary: #cccccc;
    --color-secondary: #f3f3f3;
    --color-alert: #d9d9d9;
    --color-border: #b7b7b7;
    --color-active: #666666;
    --color-foreground: #000000;
    --color-input: #ffffff;
}

.ds
{
    font-family: var(--font-family);
    font-size: var(--font-size);

    background-color: var(--color-background);
}