.entrance-container
{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: 3em;
}

.entrance-container main
{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
}

.entrance-container aside
{
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
}