.ds-tab:first-child
{
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
}

.ds-tab:last-child
{
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
}

.ds-tab:hover
{
    background: rgba(50, 224, 196, 0.15);
}

.ds-tab.active
{
    background: #39A2DB;
}