.ds-tablist ul.ds-tablist-nav
{
    width: 60%;
    margin: 0 auto 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #39A2DB;
    border-radius: 2rem;
    padding: 0;

    @media (max-width: 768px)
    {
        width: 90%;
    }
}

.ds-tablist ul.ds-tablist-nav div
{
    width: 50%;
    padding: 1rem;
    list-style: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.7s;
}

/*
.ds-tablist ul.ds-tablist-nav
.ds-tablist ul.ds-tablist-nav div
*/