.sidebar-layout
{
    container-type: size;

    & > header
    {
        background-color: var(--background-color);
        display: none;
        padding: 0.4em 1em;
        height: 2.5em;
        width: 100vw;
        top: 0;
        left: 0;
        position: fixed;
        z-index: 1000;
    }

    & > .content
    {
        display: flex;
        flex-direction: row;
        gap: 2em;
        width: 100vw;
        height: 100vh;
        max-height: 100vh;

        .left
        {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            width: 30vw;

            aside
            {
                flex-shrink: 0;
                flex-grow: 0;
                padding: 1em 0;
                width: 260px;
            }
        }

        .right
        {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            overflow-y: auto;
            width: 70vw;

            main
            {
                flex-shrink: 0;
                flex-grow: 0;
                padding: 1em 0;
                width: 640px;
            }
        }
    }

    & > footer
    {
        background-color: var(--background-color);
        display: none;
        padding: 0.4em 1em;
        height: 4em;
        width: 100vw;
        bottom: 0;
        left: 0;
        position: sticky;
        z-index: 1000;
    }

    @container (max-width: 959px)
    {
        & > .content
        {
            .left
            {
                display: none;
            }

            .right
            {
                width: 100vw;
                padding: 0 1em;
                margin: 2.5em 0 4em 0;

                main
                {
                    width: 100%;
                }
            }
        }

        & > header,
        & > footer
        {
            display: block;
        }
    }

    @container (max-width: 499px)
    {
        & > .content
        {
            .right
            {
                padding: 0 0.5em;
            }
        }

        & > header,
        & > footer
        {
            padding: 0.4em 0.5em;
        }
    }
}