.sidebar-layout
{
    --header-height: 3.4em;
    --footer-height: 4.4em;

    --modal-width: 700px;
    --aside-width: 260px;
    --main-width: 640px;

    --content-gap: 2em;

    --calc-gap-half: calc(var(--content-gap) / 2);
    --calc-content-offset: calc((var(--main-width) - var(--aside-width) + var(--calc-gap-half)) / 2);

    --left-width: calc(50vw - var(--calc-content-offset));
    --right-width: calc(100vw - var(--left-width));

    container-type: size;
    height: 100dvh;
    overflow: hidden;

    & > header
    {
        background-color: var(--background-color);
        border-bottom: 0.1em solid var(--border-color);
        display: none;
        padding: 0.5em 1em;
        height: var(--header-height);
        width: 100vw;
        top: 0;
        left: 0;
        position: absolute;
        z-index: 1000;
    }

    & > .content
    {
        display: flex;
        flex-direction: row;
        gap: var(--content-gap);
        width: 100vw;
        height: 100vh;
        max-height: 100vh;

        .left
        {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            width: var(--left-width);

            aside
            {
                flex-shrink: 0;
                flex-grow: 0;
                padding: 1em 0;
                width: var(--aside-width);
            }
        }

        .right
        {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            overflow-y: auto;
            overscroll-behavior: none;
            width: var(--right-width);

            main
            {
                flex-shrink: 0;
                flex-grow: 0;
                padding: 1em 0;
                width: var(--main-width);
            }
        }

        .modal
        {
            margin-top: 2em;
            max-width: var(--modal-width);
        }
    }

    & > footer
    {
        background-color: var(--background-color);
        border-top: 0.1em solid var(--border-color);
        display: none;
        padding: 0.4em 1em;
        width: 100vw;
        left: 0;
        bottom: 0;
        position: absolute;
        z-index: 1000;
    }

    @container (max-width: 959px)
    {
        & > .content
        {
            .left
            {
                display: none;
            }

            .right
            {
                width: 100vw;
                padding: 0 1em;
                position: absolute;
                top: var(--header-height);
                bottom: var(--footer-height);

                main
                {
                    width: 100%;

                }
            }
        }

        & > header,
        & > footer
        {
            display: block;
        }
    }

    @container (max-width: 499px)
    {
        & > .content
        {
            .right
            {
                padding: 0 0.5em;
            }
        }

        & > header,
        & > footer
        {
            padding: 0.4em 0.5em;
        }
    }
}