.sidebar-layout
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 40px;
}

.sidebar-layout .left
{
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    gap: 40px;
    height: 100vh;
    position: sticky;
    top: 0;
}

.sidebar-layout .left aside
{
    flex-grow: 1;
    flex-shrink: 1;
    box-sizing: border-box;
    padding: 1rem 0;
    width: 214px;
}

.sidebar-layout .left .ruler
{
    height: calc(100% - 2rem);
    flex-grow: 0;
    flex-shrink: 0;
    margin: 1rem 0;
}

.sidebar-layout .right
{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    min-height: 100vh;
}

.sidebar-layout .right main
{
    box-sizing: border-box;
    padding: 1rem 0;
}