.ds-select
{
    --margin: 0;

    --padding-small: 0.4em;
    --padding-medium: 0.8em;
    --padding-large: 1.2em;

    --border-style: solid;
    --border-color: var(--color-border);
    --border-width: var(--width-border);

    margin: var(--margin);
    padding: var(--padding);

    border-style: var(--border-style);
    border-width: var(--border-width);
    border-color: var(--border-color);

    background-color: var(--color-input-background);
    font-family: inherit;
    font-size: inherit;

}

.ds-select:focus-visible
{
    outline-color: color-mix(in srgb, black 10%, var(--border-color));
}

.ds-select.ds-select-size-small
{
    padding: var(--padding-small);
}

.ds-select.ds-select-size-medium
{
    padding: var(--padding-medium);
}

.ds-select.ds-select-size-large
{
    padding: var(--padding-large);
}