.ds
{
    .icon
    {
        --icon-attachment: '\1F4CE';

        --icon-bookmark: '\1F516';
        --icon-box: '\2610';
        --icon-box-checked: '\2611';
        --icon-box-crossed: '\2612';

        --icon-calendar: '\1F4C5';
        --icon-caution: '\2621';
        --icon-check: '\2713';
        --icon-clock: '\1F554';
        --icon-close: '\2715';
        --icon-cloud: '\2601';
        --icon-comment: '\1F4AC';

        --icon-diamond: '\2666';

        --icon-eye: '\1F441';

        --icon-flag: '\2691';

        --icon-heart: '\2665';
        --icon-home: '\2302';

        --icon-info: '\2139';

        --icon-lock: '\1F512';

        --icon-mail: '\2709';
        --icon-music: '\266B';

        --icon-phone: '\260E';
        --icon-piece: '\262E';
        --icon-plus: '\2795';

        --icon-question: '\2753';

        --icon-rain: '\26C6';
        --icon-recycle: '\267B';

        --icon-search: '\1F50D';
        --icon-settings: '\2699';
        --icon-star: '\2605';
        --icon-sun: '\2600';

        --icon-tag: '\1F3F7';
        --icon-trash: '\1F5D1';

        --icon-umbrella: '\2602';
        --icon-unlock: '\1F513';
        --icon-user: '\1F464';

        --icon-video: '\1F3AC';

        --icon-warning: '\26A0';

        --icon-yinyang: '\262F';

        &.attachment:before
        {
            content: var(--icon-attachment);
        }

        &.bookmark:before
        {
            content: var(--icon-bookmark);
        }

        &.box:before
        {
            content: var(--icon-box);
        }

        &.box-checked:before
        {
            content: var(--icon-box-checked);
        }

        &.box-crossed:before
        {
            content: var(--icon-box-crossed);
        }

        &.calendar:before
        {
            content: var(--icon-calendar);
        }

        &.caution:before
        {
            content: var(--icon-caution);
        }

        &.check:before
        {
            content: var(--icon-check);
        }

        &.clock:before
        {
            content: var(--icon-clock);
        }

        &.close:before
        {
            content: var(--icon-close);
        }

        &.cloud:before
        {
            content: var(--icon-cloud);
        }

        &.comment:before
        {
            content: var(--icon-comment);
        }

        &.diamond:before
        {
            content: var(--icon-diamond);
        }

        &.eye:before
        {
            content: var(--icon-eye);
        }

        &.flag:before
        {
            content: var(--icon-flag);
        }

        &.heart:before
        {
            content: var(--icon-heart);
        }

        &.home:before
        {
            content: var(--icon-home);
        }

        &.info:before
        {
            content: var(--icon-info);
        }

        &.lock:before
        {
            content: var(--icon-lock);
        }

        &.mail:before
        {
            content: var(--icon-mail);
        }

        &.music:before
        {
            content: var(--icon-music);
        }

        &.phone:before
        {
            content: var(--icon-phone);
        }

        &.piece:before
        {
            content: var(--icon-piece);
        }

        &.plus:before
        {
            content: var(--icon-plus);
        }

        &.question:before
        {
            content: var(--icon-question);
        }

        &.rain:before
        {
            content: var(--icon-rain);
        }

        &.recycle:before
        {
            content: var(--icon-recycle);
        }

        &.search:before
        {
            content: var(--icon-search);
        }

        &.settings:before
        {
            content: var(--icon-settings);
        }

        &.star:before
        {
            content: var(--icon-star);
        }

        &.sun:before
        {
            content: var(--icon-sun);
        }

        &.tag:before
        {
            content: var(--icon-tag);
        }

        &.trash:before
        {
            content: var(--icon-trash);
        }

        &.umbrella:before
        {
            content: var(--icon-umbrella);
        }

        &.unlock:before
        {
            content: var(--icon-unlock);
        }

        &.user:before
        {
            content: var(--icon-user);
        }

        &.video:before
        {
            content: var(--icon-video);
        }

        &.warning:before
        {
            content: var(--icon-warning);
        }

        &.yinyang:before
        {
            content: var(--icon-yinyang);
        }
    }
}