.ds-icon
{
    --margin: 0.2em;

    --small-width: 1em;
    --small-height: 1em;

    --medium-width: 2em;
    --medium-height: 2em;

    --large-width: 2.5em;
    --large-height: 2.5em;
}

.ds-icon
{
    margin: var(--margin);
}

.ds-icon.ds-icon-size-small
{
    width: var(--small-width);
    height: var(--small-height);
}

.ds-icon.ds-icon-icon-size-medium
{
    width: var(--medium-width);
    height: var(--medium-height);
}

.ds-icon.ds-icon-size-large
{
    width: var(--large-width);
    height: var(--large-height);
}