.ds
{
    .selection
    {
        --background-color: transparent;
        --background-color-options: var(--color-primary-background);
        --background-color-options-hover: var(--color-background-hover);
        --arrow-color: var(--color-alert-foreground);
        --border-color: var(--color-border);

        display: inline-block;
        position: relative;

        min-width: fit-content;

        cursor: pointer;

        .text
        {
            background-color: var(--background-color);

            padding: 0.8em 2em 0.8em 0em;

            &:after
            {
                content: "";

                position: absolute;
                right: 0.7em;
                top: 1.2em;

                border: 0.45em solid transparent;
                border-color: var(--arrow-color) transparent transparent transparent;
            }

            &.active:after
            {
                top: 0.8em;

                border-color: transparent transparent var(--arrow-color) transparent;
            }
        }

        .options
        {
            position: absolute;

            min-width: fit-content;
            white-space: nowrap;
            text-align: left;

            background-color: var(--background-color-options);
            border: 0.1em solid var(--border-color);

            .option
            {
                padding: 0.8em 2em 0.8em 0.8em;

                background: var(--color-primary-background);
                cursor: pointer;

                &:hover
                {
                    background-color: var(--background-color-options-hover);
                }
            }
        }
    }
}